<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Final Project</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
        #navDropdown{
            color: #0275d8;
        }
    </style>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #18191A;">
      <div class="container-fluid">
        <a class="navbar-brand" style="font-family:'Roboto', sans-serif;">CRIME MAPPING</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
        </button>
          <li class="nav-item dropdown">
             <form class="nav-item dropdown" action="/change_type" method="GET">
                 {% csrf_token %}
                 <select name="dropdown_menu_form" id="dropdown">
                     <option value="all">all</option>
                     <option value="murder">murder</option>
                     <option value="physical injury">physical injury</option>
                     <option value="kidnapping">kidnapping</option>
                     <option value="rape">rape</option>
                     <option value="robbery">robbery</option>
                     <option value="carnapping">carnapping</option>
                     <option value="drug">drug</option>
                     <option value="terrorism">terrorism</option>
                     <option value="obstruction">obstruction</option>
                     <option value="smuggling">smuggling</option>
                     <option value="fraud">fraud</option>
                     <option value="illegal possession">illegal possession</option>
                     <option value="wanted">wanted</option>
                     <option value="wrongful restraining">wrongful restraining</option>
                 <input type="submit" value="Filter"/>
             </form>
          </ul>
      </div>
    </nav>
{% block content %}
{% endblock %}
</body>
</html>