<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Crime Mapping{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
        #navDropdown{
            color: #0275d8;
        }
    </style>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #18191A;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Final Project' %}" style="font-family:'Roboto', sans-serif;">CRIME MAPPING</a>
        <ul>
          <li class="nav-item dropdown">
             <form class="form-inline my-2 my-md-0" action="/change_type" method="GET">
                 {% csrf_token %}
                 <select name="dropdown_menu_form" class="mt-2 mr-2" id="dropdown">
                     <option value="all" selected>All Crimes</option>
                     <option value="murder">Murder</option>
                     <option value="physical injury">Physical injury</option>
                     <option value="kidnapping">Kidnapping</option>
                     <option value="rape">Rape</option>
                     <option value="robbery">Robbery</option>
                     <option value="carnapping">Carnapping</option>
                     <option value="drug">Drug</option>
                     <option value="terrorism">Terrorism</option>
                     <option value="obstruction">Obstruction</option>
                     <option value="smuggling">Smuggling</option>
                     <option value="fraud">Fraud</option>
                     <option value="illegal possession">Illegal Possession</option>
                     <option value="wanted">Wanted</option>
                     <option value="wrongful restraining">Wrongful Restraining</option>
                 <input type="submit" class="btn btn-outline-primary btn-sm mt-2" value="Filter"/>
                 </select>
             </form>
          </ul>
      </div>
    </nav>
{% block content %}
{% endblock %}
</body>
</html>