{% extends 'partials/base.html' %}
{% block content %}

<style>
    html,body{
        background-color: white;
        height: 100%;
        width: 100%;
    }

    #map1{
        float: left;
        width: 800px;
        margin-left: 5%;
        margin-top: 5%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    #map2{
        float: right;
        width: 800px;
        margin-right: 5%;
        margin-top: 5%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
</style>
<body>
        <div class="container" id="map1">
            <h4 class="text-center">Crime Mapping for all Crimes</h4>
            <p class="text-center">Insert Description here.</p>
            {{map1 | safe}}
        </div>
         <div class="container" id="map2">
            <h4 class="text-center">Most Probable Crime per Region</h4>
             <p class="text-center">Insert Description here.</p>
            {{map2 | safe}}
        </div>
    </div>
</div>
</body>
{% endblock %}