{% extends 'partials/base.html' %}
{% block content %}

<style>
    html,body{
        background-color: #b2bec3;
    }
</style>

<div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="row">
        <div class="col-6 mb-2 pb-2">
            <h4 class="text-center">Crime Mapping for all Crimes</h4>
            <p class="text-center">Insert Description here.</p>
            {{map1 | safe}}
        </div>
         <div class="col-6">
            <h4 class="text-center">Most Probable Crime per Region</h4>
             <p class="text-center">Insert Description here.</p>
            {{map2 | safe}}
        </div>
    </div>
</div>
{% endblock %}